@media screen and (min-width: 992px) {
  * {
    box-sizing: border-box;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu1 {
    text-decoration: none;

    padding: 15px 15px 15px 15px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
  }
  .menu2 {
    text-decoration: none;
    padding: 15px 65px 15px 65px;
  }
  .cot11 {
    height: auto;
    background-color: #ebe9e9;
    border-right: 1px solid rgb(216, 210, 210);
    padding-left: 30%;
    padding-top: 10%;
  }
  .cot12 {
    background-color: #dedede;
    height: auto;
    padding-left: 5%;
    padding-top: 10%;
  }
  .cot2 {
    display: grid;

    grid-template-columns: 50% 50%;
    background-color: #fbfbfc;
  }
  .cottt {
    display: grid;
    background-color: #fbfbfc;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10px;
    row-gap: 10px;
    padding-left: 8%;
  }
  .cottt1 {
    display: grid;
    margin: 40px 45px 40px 45px;
    height: auto;
    background-color: rgb(237, 237, 237);
    border: 1px solid grey;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    padding-left: 5px;
  }
  .cottrongcot {
    height: 10px;
    padding: 25% 25% 25% 25%;
  }
  .ic-toolbox {
    font-size: 50px;
    padding-top: 12px;
  }
  .ic-tools-2 {
    font-size: 50px;
    padding-top: 10px;
  }
  .ic-mic {
    font-size: 50px;
    padding-top: 10px;
  }
  .cottrongcot1 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 10px;
  }
  .cottrongcot2 {
    display: grid;
    grid-template-columns: 28% 28% 28% 28%;
  }
  .ic-strategy {
    color: #199cdb;
    border-radius: 50px;
    border: 1px solid black;
  }
  .ic-megaphone {
    font-size: 50px;
    padding-top: 10px;
  }

  .thanh1 {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  .thanh2 {
    background: #b2b4b5;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }

  .giaithuong {
    background-color: rgb(241, 239, 237);
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .giaithuong1 {
    position: relative;
    height: 180px;
    border-right: 1px solid black;
    margin-bottom: 20px;
  }
  .giaithuong2 {
    height: 180px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid black;
  }

  .imagegt {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    width: 180px;
  }
  .chu {
    padding-left: 200px;
  }
  .ic-pencil {
    font-size: 50px;
    padding-top: 60px;
  }
  .duan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: auto;
  }
  .cotduan {
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    height: auto;
  }
  .imgduan {
    width: 100%;
    height: 200px;
  }
  .dongchu {
    text-align: left;
    border-bottom: 1px solid black;
  }
  .icon {
    border-bottom: 1px solid black;
  }

  .c1 {
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
  }
  #c2 {
    border-bottom: 1px solid black;
  }
  .footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: #d8dada;
  }
  #bo {
    font-size: 30px;
    text-decoration: none;
    color: #199cdb;
  }
  .anhdaidien {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 44%;
    top: 400px;
    border-radius: 50%;
    border: 5px solid white;
  }
}
